@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Outfit;
}



:root {
    --color-primary: #2563eb;
    --color-primary-dark: #1d4ed8;
}

.bg-primary {
    background-color: var(--color-primary);
}

.bg-primary-dark {
    background-color: var(--color-primary-dark);
}

.text-primary {
    color: var(--color-primary);
}

.border-primary {
    border-color: var(--color-primary);
}



.active hr {
    @apply block
}

@media (max-width:740px) {
    .active  p{
       @apply text-white bg-primary
    }
}

::-webkit-scrollbar {
    @apply hidden
}